@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");

:root {
  --background-color: #f8f8f7;
  --primary: #662d91;
  --border-color: #d6d1d1;
}

body {
  background-color: var(--background-color);
  font-family: "Young Serif", serif;
  margin: 0;
}

button {
  background-color: var(--primary);
  border: 0;
  padding: 0.5em 1.5em;
  border-radius: 0.2em;
  color: white;
  font-family: "Young Serif", serif;
  cursor: pointer;
}

input,
select {
  border-radius: 0;
  border: 1px solid var(--border-color);
  padding: 0.4em 1em;
  font-family: "Young Serif", serif;
  border-radius: 0.2em;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 4em);
  gap: 2em;
}

.sub-container {
  text-align: center;
}

.form {
  background-color: rgba(216, 191, 216, 0.2);
  padding: 1em;
  border-radius: 0.5em;
  display: grid;
  gap: 1em;
  text-align: left;
  align-items: center;
}

@media (min-width: 600px) {
  .form {
    grid-template-columns: repeat(2, 18em);
  }
}

@media (min-width: 900px) {
  .form {
    grid-template-columns: repeat(3, 18em);
  }
}

button {
  width: fit-content;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  min-width: calc(18em * 3);
  padding: 0;
  text-align: left;
}

.list .list-card {
  list-style-type: none;
  border: 1px solid var(--border-color);
  border-radius: 0.2em;
  padding: 1em;
  width: 10em;
  position: relative;
}

.list-card .cancel {
  position: absolute;
  right: 0.3em;
  top: 0.3em;
  cursor: pointer;
}

h5 {
  margin: 0;
}

p {
  font-size: 0.8em;
}
